[linkedin]
use_top_applicant = true # If true, it will look for jobs that fits for you acording to LinkedIn. You need a LinkedIn Premium subscription.
user = Your user
password = Your password
blacklist = [Company1, Company2]

# A list of resumes in different languages that you want to use. They have to be already loaded in LinkedIn and the bot will match the full name of the file.
[linkedin.resumes]
en = Resume in english
es = Resume in spanish

[bumeran]
user = Your user
password = Your password
jobs_to_apply = Query that you want to use
city = City where you want to work
intended_salary = Intended salary